@import url("style.css");

.student-info{
  background-color: lightblue;
  width: 700px;
  margin: 0 auto 100px;
  border-radius: 10px;
}
.container-form{
  padding: 40px 60px;
  margin-left: 10%;
}
form label{
  width: 150px;
  display: inline-block;
  margin-bottom: 18px;
}
form input{
  padding: 10px 80px 10px 5px;
  border: none;
  border-radius: 10px;
  padding-bottom: 5px;
  outline: none;
}
.select{
  padding: 10px 80px 10px 5px;
  border: none;
  border-radius: 10px;
  padding-bottom: 5px;
  outline: none;
}
.sub-btn {
  padding: 10px 30px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  outline: none;
  background-color: rgb(65, 174, 211);
}
.sub-btn a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.sub-btn:hover{
  background-color: rgba(41, 103, 124, 0.781);
}



/* footer */
footer{
  background-color: black;
  height: 200px;
  width: 100%;
  position: relative;
  color: white;
}
.address-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 1300px;
  top: 30%;
  gap: 200px;
  left: 50%;
  transform: translateX(-50%);
}

